{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'global.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'order.css' %}"> {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<div class="container">
    <h1>Orders</h1>
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'products' %}">Products Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'main' %}">Orders Home</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>

    {% comment %} this is a test to include footer {% endcomment %}
{% include 'order_footer.html' with username="samilabud" %}
</body>

</html>