{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <h1>Products</h1>
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'products' %}">Products Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'main' %}">Orders Home</a>
        </li>
    </ul>

    {% comment %} {% if request.resolver_match.url_name != 'products' %}
        <a href="{% url 'products' %}">Product List</a>
    {% endif %} {% endcomment %}

    {% block content %}
    {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>

</html>